body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.my-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.my-container-header {
    display: inline-flex;
    height: max-content;
    width: 100%;
}

.page-name {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.btn.btn-primary {
    color: white;
    background-color: #262626;
    border-radius: 5px;
    border-color: #262626;
    margin-top: 15px;
    margin-left: 5px;
    max-height: 40px;
}

.btn.btn-primary:hover {
    background-color: #404040;
    border-color: #404040;
}

.offcanvas-header {
    border-bottom: 2px solid #404040;
}

.header-image {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.header-image img {
    width: 50%;
    height: 70%;
}

.header-image h6 {
    margin-top: 5px;
}

.offcanvas-body{
    padding: 0px !important;
    width: 100%;
}

.offcanvas.offcanvas-start {
    background-color: #262626;
    color: white;
    max-width: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-close {
    border-color: #262626;
}

.btn-close:hover {
    background-color: #404040;
}

.section-container {
    border-bottom: 3px solid #404040;
    padding-bottom: 5px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}
.button-container button{
    background-color: #262626;
    color: white;
    font-weight: bold;
    font-size:medium;
    padding: 5px;
    text-align: left;
    border-radius: 8px;
    border-color: #262626;
    margin-top: 5px;
    border: #262626;
}

.button-container button:hover {
    background-color: #404040;
}

.transaction-history {
    background-color: #404040 !important;
}

.section-header {
    margin-top: 20px;
}

.section-header h6 {
    font-size: small;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logout-button-container {
    margin-top: 90%;
    margin-right: 10px;
    text-align: right;
}

.logout-button-container button{
    background-color:#262626;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.logout-button-container button:hover {
    background-color: #404040;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin-top: 5%;
    height: 450px;
    width: 75% !important;
    padding: 0% !important;
    border-radius: 5px;
    border: 2px solid black;
    overflow: auto;
}

.table {
    width: 100%;
    height: 100%;
    margin: 0;
}

.transfer-button-container {
    margin-top: 50px;
    width: 85%;
    height: max-content;
    justify-content: right;
    text-align: right;
}

.transfer-button-container button {
    background-color: #262626;
    color: white;
    border-radius: 5px;
    border: #262626;
    height: 40px;
    width: 120px;
}

.transfer-button-container button:hover {
    background-color: #404040;
}

.container table {
    border-collapse: collapse;
    font-size: 10px !important;
}

.container th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 15px !important;
}

.container th {
    background-color: lightgrey !important;
}