body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.my-container {
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.btn.btn-primary {
    color: white;
    background-color: #262626;
    border-radius: 5px;
    border-color: #262626;
    margin-top: 5px;
    margin-left: 5px;
}

.btn.btn-primary:hover {
    background-color: #404040;
    border-color: #404040;
}

.offcanvas-header {
    border-bottom: 2px solid #404040;
}

.header-image {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.header-image img {
    width: 50%;
    height: 70%;
}

.header-image h6 {
    margin-top: 5px;
}

.offcanvas-body{
    padding: 0px !important;
    width: 100%;
}

.offcanvas.offcanvas-start {
    background-color: #262626;
    color: white;
    max-width: 15%;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-close {
    border-color: #262626;
}

.btn-close:hover {
    background-color: #404040;
}

.section-container {
    border-bottom: 3px solid #404040;
    padding-bottom: 5px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}
.button-container button{
    background-color: #262626;
    color: white;
    font-weight: bold;
    font-size:medium;
    padding: 5px;
    text-align: left;
    border-radius: 8px;
    border-color: #262626;
    margin-top: 5px;
    border: #262626;
}

.button-container button:hover {
    background-color: #404040;
}

.section-header {
    margin-top: 20px;
}

.section-header h6 {
    font-size: small;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logout-button-container {
    margin-top: 90%;
    margin-right: 10px;
    text-align: right;
}

.logout-button-container button{
    background-color:#262626;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.logout-button-container button:hover {
    background-color: #404040;
}

.dropdown-menu {
    z-index: 1200;
    left: 100;
}