<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/CSS/registration.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../static/Images/loginheader.png" alt="login header" class="header-image">
        </div>
        <div class="login-form">
            <div class="input-with-icon">
                <span class="icon"><img src="../static/Images/username_logo.png" alt="Username Icon"></span>
                <input type="text" id="user-id" name="user-id" placeholder="User ID">
            </div>
            <div class="input-with-icon">
                <span class="icon"><img src="../static/Images/pancardicon.png" alt="PAN Card Icon"></span>
                <input type="text" id="pan-number" name="pan-number" placeholder="PAN Card">
            </div>
            <div class="input-with-icon">
                <span class="icon"><img src="../static/Images/aadharicon.png" alt="Aadhar Icon"></span>
                <input type="text" id="aadhar-no" name="aadhar-no" placeholder="Aadhar Card">
            </div>
            <div class="input-with-icon">
                <span class="icon"><img src="../static/Images/password_icon.png" alt="Password Icon"></span>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="input-with-icon">
                <span class="icon"><img src="../static/Images/password_icon.png" alt="Password Icon"></span>
                <input type="password" id="confirm-password" name="confirm-password" placeholder=" Confirm Password">
            </div>
            <button type="submit" id="submit-button">Register</button>
            <p>Already have an account? <a href="#">Login</a></p>
        </div>
    </div>
    <div class="image-container">
        <img src="../static/Images/logo.png" alt="PFEPL Logo">
    </div>
</body>
</html>
